language: node_js
node_js:
  - "11.10"
cache: npm
env:
  global:
    # include $HOME/.local/bin for `aws`
    - PATH=$HOME/.local/bin:$PATH
    - IMAGE_NAME=admin-dashboard-frontend
services:
  - docker
notifications:
  slack:
    pointapi:Sjvqcwm25jFhXxEdZirCDqRk
before_install:
  - npm i -g npm@6.9.0
  # set up awscli packages
  - pip install --user awscli
jobs:
  include:
    - stage: test
      script:
        # - npm test
        - npm run build
    - stage: docker
      if: branch IN (master)
      script:
        - echo "Travis branch $TRAVIS_BRANCH | commit $TRAVIS_COMMIT"

        - echo "Building ${IMAGE_NAME} docker image.."
        - docker build -t ${IMAGE_NAME}:latest --build-arg REACT_APP_ENV=prod .

        - echo "Pushing ${IMAGE_NAME} docker image to ECR.."
        - $(aws ecr get-login --no-include-email --region us-west-2)
        - docker tag ${IMAGE_NAME}:latest 537194362290.dkr.ecr.us-west-2.amazonaws.com/${IMAGE_NAME}:latest
        - docker tag ${IMAGE_NAME}:latest 537194362290.dkr.ecr.us-west-2.amazonaws.com/${IMAGE_NAME}:master
        - docker tag ${IMAGE_NAME}:latest 537194362290.dkr.ecr.us-west-2.amazonaws.com/${IMAGE_NAME}:$TRAVIS_COMMIT
        - docker push 537194362290.dkr.ecr.us-west-2.amazonaws.com/${IMAGE_NAME}:latest
        - docker push 537194362290.dkr.ecr.us-west-2.amazonaws.com/${IMAGE_NAME}:master
        - docker push 537194362290.dkr.ecr.us-west-2.amazonaws.com/${IMAGE_NAME}:$TRAVIS_COMMIT
    - stage: docker
      if: branch IN (dev)
      script:
        - echo "Travis branch $TRAVIS_BRANCH | commit $TRAVIS_COMMIT"

        - echo "Building ${IMAGE_NAME} docker image.."
        - docker build -t ${IMAGE_NAME}:latest --build-arg REACT_APP_ENV=dev .

        - echo "Pushing ${IMAGE_NAME} docker image to ECR.."
        - $(aws ecr get-login --no-include-email --region us-west-2)
        - docker tag ${IMAGE_NAME}:latest 537194362290.dkr.ecr.us-west-2.amazonaws.com/${IMAGE_NAME}:dev
        - docker tag ${IMAGE_NAME}:latest 537194362290.dkr.ecr.us-west-2.amazonaws.com/${IMAGE_NAME}:$TRAVIS_COMMIT
        - docker push 537194362290.dkr.ecr.us-west-2.amazonaws.com/${IMAGE_NAME}:dev
        - docker push 537194362290.dkr.ecr.us-west-2.amazonaws.com/${IMAGE_NAME}:$TRAVIS_COMMIT
